$clr-primary: #00ffae;
$clr-secondary: #002b23;
$clr-white: #ffffff;
$clr-light: rgba(255, 255, 255, 0.1);
$clr-border: rgba(255, 255, 255, 0.2);
$font-main: 'Segoe UI', sans-serif;
$transition: all 0.3s ease;
$radius: 1rem;